<div style="width:100%;overflow:hidden;">
	<div class="main">
		<mat-card class="example" routerLink="/enrollment">
          <div class="content">
          	Enrollments
          </div>
          <div class="content">
          	<i class="fas fa-user-plus"></i>
          </div>
		</mat-card>
		<mat-card class="example" routerLink="/event">
          <div class="content">
          	Events
          	<i class="far fa-calendar-alt"></i>
          </div>
          <div class="content">
          	<i class="fas fa-calendar-alt"></i>
          </div>
		</mat-card>
		<mat-card class="example" routerLink="/track">
          <div class="content">
          	Reimbursements
          	         	
          </div>
          <div class="content">
          	<i class="fas fa-rupee-sign"></i>
          </div>
		</mat-card>
		<mat-card class="example" routerLink="/lectures">
          <div class="content">
          	Lectures
          	
          </div>
          <div class="content">
          	<i class="fas fa-money-check-alt"></i>
          </div>
		</mat-card>
		<mat-card class="example" routerLink="/modules">
          <div class="content">
          		Modules          
          </div>
          <div class="content">
          	<i class="fas fa-money-check-alt"></i>
          </div>
		</mat-card>
		<mat-card class="example" routerLink="/assignments">
          <div class="content" >
          	Assignments
         </div>
          <div class="content">
          	<i class="fas fa-money-check-alt"></i>
          </div>
		</mat-card>

	</div>
</div>
