<div class="card">
    <div class="card__poster" 
    [style.background-image]="'url(' + refactoredURL(event.poster) + ')'">
        <div class="card__options" *ngIf="event._id !== undefined && !isUpdating">
            <div class="card__option" [routerLink]="'edit/'+event._id" ><i class="fas fa-pencil-alt"></i></div>
            <div class="card__option" (click)="deleteEvent(event._id)"><i class="fas fa-trash"></i></div>

        </div>
    </div>
    <div class="card__details">
     <div class="card__event">
         <h3 class="card__title">{{event.title}}</h3>
         <div class="card__sub-title">
             <p class="card__timing"><span class="highlight">Start On</span> {{event.time}}, {{formatDate(event.date)}}</p>
             <p class="card__type">
                 <span class="highlight">Event Type </span>:
                 <span  class="event__type">{{event.eventType}}</span>
         
            </div>
     </div>
     <div class="card__description">
        {{event.description}}     
    </div>
    <div class="card__description">
          Chapter:{{event.chapter}}     
    </div>
    <div>
        <a [href]="'http://'+event.link" target="_blank">Click for Registration</a>
    </div>
    
    </div>
 </div>
<!-- 
 linear-gradient(to right, rgba(86, 204, 242,.8),rgba(47, 128, 237,.8)) -->