main
{
	width:100%;
	/* padding-top: 2rem; */
}
.fm {
	height: fit-content;
	box-shadow: 0.4rem 2rem 3rem rgba(0,0,0,.2);
	margin-top: 5rem;
}
.in{
	width:70%;
	margin:0px auto;
}
mat-form-field {
	width:100%;
}
mat-spinner {
	margin:auto;
}



.alig {
	 background: linear-gradient(to right, #56ccf2, #2f80ed);
	padding: 1rem;
	color:#fff;
	font-family: 'Roboto';
	 margin-top: 20px;
	margin-bottom:40px; 
	margin-left:38%;
	font-size:30px;
	font-weight: bold;
}

.options{
	padding: 0 1rem;
	
	transition: all .2s;
}

.add {
	
	width:100%;
	text-align: center;
	padding: 2rem;
	display: flex;
	justify-content: center;

}
.btn {
	height: 40px;
	width: 40px;
	
display: block;
	border:none;
	margin-bottom: 5px;
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	border-radius: 250rem;
	
	color:#fff;
	transition:  all .2s;
	box-shadow: none;

	

}
@media only screen and (max-width: 968px){
    .alig{
        margin-left:0 !important;
	}
	.in{
		width:85% !important;
	}
}
.mat-form-field.mat-focused .mat-form-field-label{
	color: #fff !important;
}
.mat-card-title{
	margin: 0 0 1rem 0;
}



.form-feilds>div{
	
	padding: 0 1rem;
	
}
.alig1 {
	margin-top: 15px;
	margin-left: 30px;
	font-weight: bold;
}
input[type="file"]{
	display: none;
	visibility: hidden;
}
.image-preview {
	height: 5rem;
	margin: 1rem 0;
	padding: 1rem;
}
.image-preview img {
	max-height: 10rem;
	width: auto;
	
}

.upload {
	width:100%;
	margin-left:43%;
}


.btn-group{
    display: flex;
    justify-content: flex-end;
}
/* .btn {
	
display: block;
margin: .5rem;
	border:none;
	
	background: linear-gradient(to right, #56ccf2, #2f80ed);
	border-radius: 3rem;
	font-size: 1.4rem;
	color: #fff;
	transition:  all .2s;
	box-shadow: none;

	

} */
.upload__bill{
	display: flex;
	padding:0 1rem;
	
}
.btn:hover {
	cursor:pointer;
	border:none;
	box-shadow: 2px 5px 1rem rgba(0,0,0,.2);
}
.btn:focus {
	outline:none;
}
.foot {
	display: flex;
	margin-left:75%; 
}
.delete {
	height:20px;width: 20px;margin-top: 20px;
}
.delete:hover {
	cursor: pointer;
}
@media only screen and (max-width: 968px) {
  /* For desktop: */
  .alig {
  	margin-left: 34%;
  }
}